# Copyright (c) 2023 Robert Bosch GmbH and Microsoft Corporation
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# SPDX-License-Identifier: Apache-2.0

name: CI
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    # Run only on branches/commits and not tags
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-job:
    name: "Run linters"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install deps
        run: |
          pip install mypy
          pip install types-requests

      - name: Run Linters
        uses: ./.github/actions/pre-commit-action

  unit-test:
    name: "Run unit tests"
    runs-on: ubuntu-latest
    container: ghcr.io/eclipse-velocitas/devcontainer-base-images/python:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install required packages
        run: |
          pip install -r model-generator/src/requirements.txt
          pip install -r model-generator/test/requirements.txt

      - name: unit test
        shell: bash
        run: |
          pytest --rootdir=./model-generator/test --override-ini junit_family=xunit1 --junit-xml=./results/UnitTest/junit.xml --cov ./model-generator/test --cov-report=xml:results/CodeCoverage/cobertura-coverage.xml --cov-branch ./model-generator/test
          coverage2clover -i results/CodeCoverage/cobertura-coverage.xml -o results/CodeCoverage/clover.xml
          coveragepy-lcov --data_file_path ./.coverage --output_file_path results/CodeCoverage/lcov.info

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          junit_files: ./results/UnitTest/junit.xml
